@charset "UTF-8";

:root {
  --color1: #FF9500;
  --color2: #262626;
  --color3: #F2F2F2;
  --color4: #ffffff;
  --color5: #000000;
}

body {
  background-color: var(--color3);
}

header {
  background-color: var(--color1);
  color: var(--color2);
}

section#inicio {
  background-color: var(--color2);
  color: var(--color4);
}

section#automacao {
  background-color: var(--color3);
  color: var(--color2);
}

section#sistema {
  background-color: var(--color2);
  color: var(--color4);
}

section#servicos {
  background-color: var(--color3);
  color: var(--color2);
}

section#sobreNos {
  background-color: var(--color2);
  color: var(--color4);
}

section#contato {
  background-color: var(--color3);
  color: var(--color2);
}

footer {
  background-color: var(--color1);
  color: var(--color2);
}